[project]
name = "aoc"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "datastar-py>=0.7.0",
    "numba>=0.62.1",
    "sanic>=25.3.0",
    "tinydb>=4.8.2",
]
