@import url("gold.css") layer(gold);
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root {
    --bg: #0f0f23;
    --text: #cccccc;
    --green: #00cc00;
    --dark-green: #009900;
    --gold: #ffff66;
    --silver: #9999cc
}

body {
    font-family: 'Source Code Pro';
    background: var(--bg);
    color: var(--text);
    min-height: 100dvh;
}

h1 {
	color: var(--dark-green);
    font-weight: bold;
}

p {
	text-align: center
}

b {color: var(--gold)}
em {color: var(--silver)}

button {
    border: 1px solid var(--dark-green);
    cursor: pointer;
    width: 12rem;
    transition: all .1s linear;
    a {text-decoration: none;}
}

button:hover {
    border: 1px solid var(--green);
    filter: brightness(1.05);
}

/* EVC2 */

#plate {
	display: grid;
	.cell {
		width: 100%;
		height: 100%;
		background: yellow;
		&[engraved] {
			background: red
		}
	}
}

/* AOC1 */

#lock_wrapper {
	border: 1px solid var(--silver)
}

@property --turn {
  syntax: "<angle>";
  inherits: true;
  initial-value: .5turn;
}

#lock {
	width: 25rem;
	aspect-ratio: 1/1;
	rotate: Z var(--turn);
	transition: 1s ease-out;
	mix-blend-mode: hard-light;
	filter: drop-shadow(0px 0px 4px var(--silver))
}

#cross {
	color: var(--gold)
}
